body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f2f2f2;
    color: #333;
}

header {
    text-align: center;
    padding: 80px 20px;
    background: #222;
    color: white;
}

header .btn {
    background: #00aaff;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    border-left: 5px solid #00aaff;
    padding-left: 10px;
}

.project {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-left: 5px solid #00aaff;
}
footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}
